@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    font-family: 'Raleway','sans-serif';
    line-height: 2.5em;
    font-weight: 900;
    max-width: 600px;
    padding-bottom: 80px;
}