h1 {
color: green;    
}

h1 a {
    color: rgb(92, 19, 19);
}

h1 a:hover{
    color: orange;
}

.chessboard {
    width: 300px;
    border-radius: 30px;
}

.mate-in-one {
    box-shadow: 20px 30px orange;
}

.mate-in-two:hover {
    box-shadow: 20px 30px red;
}