@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://images.pexels.com/photos/235986/pexels-photo-235986.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

h1 {
color: green;    
}

h1 a {
    color: rgb(92, 19, 19);
}

h1 a:hover{
    color: orange;
}

ul a {
    color: pink;
}

.chessboard {
    width: 300px;
    border-radius: 30px;
}

.chessboard:hover{
    -webkit-box-shadow: -2px -1px 48px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 48px 7px rgba(0,0,0,0.75);
    box-shadow: -2px -1px 48px 7px rgba(0,0,0,0.75);
}

.mate-in-one {
    box-shadow: 20px 30px orange;
}

.mate-in-two {
    box-shadow: 20px 30px red;
}